#img_bombon {
    max-width: 30%;
    border-radius: 50%;
}
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color: white;
    text-align: center;
    position: relative;
}
p{
    color: white;
}
strong{
    color: white;
}

#redes {
    color: white;
}


body {
    background: url(./assets/fondo.png) no-repeat center center fixed;
}
#logo{
    width: 100vw;
}

.imagen{
    text-align: left;
    width: 100px;
}

#create_button {
    background-color: #8cd40d;
    color: #502a1e;
}

#create_button:hover {
    background-color: #502a1e;
    color: #8cd40d;
    transition: .7s;
}

#imagendebombom{
    justify-content: center;
    align-items: center;
}
#imagencentrada{
    display: flex;
    flex-wrap: wrap;
    height: auto;
   justify-content: center;
    align-items: center;
    width: 50%;
}