#img_bombon {
    max-width: 50%;
    border-radius: 50%;
}
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color: white;
    text-align: center;
    position: relative;
}
p{
    color: white;
}
strong{
    color: white;
}

#redes {
    color: white;
}

/* #fondo {
    background: url(https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/207136041_177665441038442_6221736612566634218_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=mvah6FOSsrIAX8a2LVC&_nc_oc=AQkEiWwmqzZ-eAs0OV4VwjwoZhkLqK1VHOBF9zsi_hiUZDx5hfpDNpG5ldmq7oSvou0&_nc_ht=scontent.faep24-1.fna&oh=00_AfDvsuNm0cwfxt67h4uD7cbdoMNlqITAltkKIMoubzCzbw&oe=64E34375) fixed;
    background-size: 100%;
    backdrop-filter: blur(15px);
    height: 200vh;
    background-image: fixed;
    background-repeat: no-repeat;
    height: 200vh;
} */

body {
    /* backdrop-filter: blur(15px); */
    height: 100vh;
    background-image: url(./assets/fondo.png);
   background-size:cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    /* color: #ffffff */
    background-attachment: fixed;
}
#logo{
    width: 100vw;
    /* height: 300px; */

}

.imagen{
    text-align: left;
    width: 100px;
    /* height: 90px; */
}

#create_button {
    background-color: #8cd40d;
    color: #502a1e;
}

#create_button:hover {
    background-color: #502a1e;
    color: #8cd40d;
    transition: .7s;
}

#imagendebombom{
    
    
    
    justify-content: center;
    align-items: center;
    
}
#imagencentrada{
    display: flex;
    flex-wrap: wrap;
    height: auto;
   justify-content: center;
    align-items: center;
    width: 50%;
}